
//Palette
$brand-primary: #740001;
//$brand-secondary: #d3a625;
$brand-secondary: #FDBC2F;

//Variables
$navbar-height: 60px;
$navbar-margin-bottom: 0px;
$navbar-border-radius: 0px;
$navbar-background: #FFF;

$size-medium: 768px;